@using (Html.BeginForm("Search", "Flights"))
{
<form  method="post">
    <div class="form-group">
        <label for="source" class="control-label col-md-2"> Source</label>
        <input required type="text" id="source" name="source" class="form-control">
    </div>
    <div class="form-group">
        <label for="des" class="control-label col-md-2">Destination</label>
        <input required type="text" id="des" name="des" class="form-control">
    </div>
    <div class="form-group">
        <label for="dep" class="control-label col-md-2">Departure</label>
        <input required type="date" id="dep" name="dep" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" id="btn" value="Search">
    </div>
</form>
}
